<div class="title">
  <h1><%= title("[Modifier] " + content_tag(:em) { sanitize(link_to @article.title, wiki_like_path(@article.slug)) }).html_safe %></h1>

  <p class="links">
    <%= link_to image_tag("icons/rss.png"), history_article_path(@article, :format => "rss") %>
    <%= link_to "Historique des modifications", history_article_path(@article), :class => "styled" %>
  </p>
</div>

<div class="styled edit_or_show">
  <%= form_for @article do |f| %>
  <p class="information main">
    <%= f.fields_for :main_information, (@article.main_information || Information.new) do |subform| %>
      <%= content_tag :div, :class => "error_messages",  do %>
        <%= subform.object.errors.full_messages.to_sentence %>
      <% end if subform.object.errors.count > 0 %>
      <%= subform.text_area :content, :placeholder => "Entrez-ici une définition courte qui introduit au mieux le sujet en question" %>
    <% end %>
  </p>

  <strong>Choisissez l'image qui décrit au mieux l'article :</strong>
  <div class="illustration edition">
    <ul>
    <% @article.images.each_with_index do |img, i| %>
      <li><label for="img<%= i %>"><img src="<%= img[:src] %>" /></label><%= f.radio_button :image_uri, img[:src], {:id => "img" + i.to_s} %></li>
    <% end if @article.images && @article.images.count > 0 %>
    </ul>
    
    <div class="single-by-line"><small><%= link_to "Recharger la liste des images à partir de l'article Wikipedia", reload_pictures_article_url(@article) %></small></div>
  </div>

  <p class="single-by-line"><%= f.submit "Enregistrer" %></p>

  <hr />

  <ol class="sortable">
    <% @article.informations.complete(APP_CONFIG['count_info']).each_with_index do |information, i| %>
      <%= content_tag(:li, :class => information.nil? ? "no_content" : "has_content", :data => {:id => information.try(:id) || "", :initposition => i + 1 } ) do %>
        <% if information.nil? %>
            <% if form_already_showed? %>
              <p><small>[Pas encore d'information ici]</small></p>
            <% else %>
              <%= render :partial => 'form_information', :locals => {:f => f, :information => @article.informations.new, :position => i + 1 } %>
            <% end %>
        <% else %>
          <div class="content">
            <%= link_to ">", information.link_for_details, :class => "link_for_details" unless information.link_for_details.blank? %>
            <span class="tools">
              <%= link_to edit_article_information_url(@article, information), :class => "edit" do %>
                <%= image_tag asset_path('icons/edit.png') %>
              <% end -%>
              <%= link_to article_information_url(@article, information), :remote => true, :method => :delete, :class => "delete", :confirm => "Êtes-vous sûrs de vouloir supprimer cette information ?" do %>
                <%= image_tag asset_path('icons/delete.png') %>
              <% end -%>
              <%= link_to history_article_information_url(@article, information), :class => "history" do %>
                <%= image_tag asset_path('icons/history.png') %>
              <% end -%>
            </span>
            <%= raw bold_keywords(information.content) %>
          </div>
          <%= render :partial => 'form_information', :locals => {:f => f, :information => information, :position => nil } %>
        <% end %>
      <%- end -%>
    <%- end -%>
  
    <div class="reorder tools">
      <%= link_to "#" do %>
        Enregistrer l'ordre<br />
        <%= image_tag asset_path('icons/re-order.png') %>
      <% end %>
    </div>
    <p class="links other_informations">
      <%= link_to "+ Plus d'informations", {}, :class => "styled" %>
    </p>
  <% end #form %>

  <%- if @article.informations.count {|e| !e.nil? } >= APP_CONFIG['count_info'] -%>
    <li class="no_content">
      <%= form_for @article do |f| %>
        <%= render :partial => 'form_information', :locals => {:f => f, :information => @article.informations.new, :position => nil } %>
      <%- end -%>    
    </li>
  <% end %>
  </ol>
</div>
