<div class="title">
  <h1><%= title("Historique des modifications") %></h1>
  
  <p class="links">
    <%= link_to image_tag("icons/rss.png"), history_article_path(@article, :format => "rss") %>
    <%= link_to "&larr; Revenir à l'édition de l'article".html_safe, edit_article_path(@article), :class => "styled" %>
  </p>
</div>

<div class="history">
  <ol>
    <%- sort(@article.history).each do |maj| -%>
      <li class="<%= maj[:type].to_s %>">
        <%= render :partial => 'history', :locals => {:maj => maj} %>
      </li>
    <%- end -%>
  </ol>
</div>