<div class="title">
  <h1><%= title(@article.title) if @article.title != "Wikibref" %></h1>

  <p class="links">
    <%= link_to "Modifier", edit_article_path(@article), :class => "styled edit" %>
    <%= link_to "Article détaillé sur Wikipédia &rarr;".html_safe, @article.url_original, :class => "styled" %>
  </p>
</div>

<div class="edit_or_show">
  <p class="information main"><%= raw bold_keywords(@article.main_information.try(:content)) %></p>

  <%- if @article.image -%>
  <p class="illustration">
    <a href="<%= @article.image_fullsize %>"><img src="<%= @article.image %>" alt="Illustration" /></a>
  </p>
  <%- end -%>

  <hr />

  <ol>
    <% @article.informations.complete(APP_CONFIG['count_info']).each_with_index do |information, i| %>
      <%= content_tag(:li, :class => information.nil? ? "no_content" : "has_content", :data => {:id => information.try(:id) || "", :initposition => i + 1 } ) do %>
        <% if information.nil? %>
          <p><small>[Pas encore d'information ici]</small></p>
        <% else %>
          <div class="content">
            <%= link_to ">", information.link_for_details, :class => "link_for_details" unless information.link_for_details.blank? %>
            <%= raw bold_keywords(information.content) %>
          </div>
        <% end %>
      <%- end -%>
    <%- end -%>
  
    <p class="links other_informations">
      <%= link_to "+ Plus d'informations", {}, :class => "styled" %>
    </p>

  </ol>
</div>
