<div class="title">
  <h1><%= title("[Historique] " + sanitize(content_tag(:em){ excerpt(@information.content, "", :radius => 35) })).html_safe %></h1>
  
  <p class="links">
    <%= link_to "&larr; Historique de l'article entier".html_safe, history_article_path(@information.article), :class => "styled" %>
  </p>
</div>

<div class="history">
  <ol>
    <%- sort(@information.history).each do |maj| -%>
      <li class="<%= maj[:type].to_s %>">
        <div class="infos">
          <strong class="type"><%= {:creation => "Création", :info_created => "Création", :info_updated => "Modification"}[maj[:type]] %></strong> 
          le <datetime><%= l(maj[:date]) %></datetime> 
          par <span class="user"><%= maj[:author].try(:username).or "Anonyme" %></span>
        </div>
        <%- if maj[:type] == :info_created -%>
          <div class="diff">
            <ul>
              <li class="ins"><ins><%= maj[:content] %></ins></li>
            </ul>
          </div>
        <%- elsif maj[:type] == :info_updated -%>
          <div><%= Diffy::Diff.new(maj[:content_from], maj[:content_to]).to_s(:html).html_safe %></div>
        <%- end -%>
      </li>
    <%- end -%>
  </ol>
</div>